---
layout: default
---

<div class="home">
  <h1>News from MDSW</h1>
  
  <p>
    Hi,
    <br />
    Do you want to receive our bi-monthly updates?
    <br />
    Subscribe our mailing list and we will send <b>just one email in two months</b> about our innovative activities!
  </p>
  
  {% include mailchimp-form.html %}
</div>