<footer class="site-footer">

  <div class="wrapper">

    2016 &copy; <a href="http://mdsw.co" target="_blank">MDSW</a> - 
    <a href="https://facebook.com/mdswco" target="_blank">facebook</a> - 
    <a href="https://twitter.com/mdswco" target="_blank">twitter</a>

  </div>

</footer>
